# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.env.local
.env.dragon
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MLX models
models/
*.npz
*.safetensors
*.bin
*.pth

# Audio files
*.wav
*.mp3
*.m4a
*.flac
uploads/
results/
tts_outputs/
test_outputs/

# Logs
*.log
logs/

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Project specific
dia/
models/dia_download/
models/dia_original/
client.log
realtime_server.log
whisper_server.log

# Temporary files
temp/
tmp/
*.tmp
cache/
/.claude
CLAUDE.md
output/dia_response.json
output/dia_test.json
outputs/txt/1a3825d9-1d81-4843-9f7d-e478b25c25bc.txt
outputs/txt/2c057160-bf67-4a2c-a630-8bf249bcf09f.txt
outputs/txt/40af360c-0316-428e-8671-ab73141a5aba.txt
outputs/txt/41f09e9d-aa30-41d5-ae15-a4827ed119ce.txt
outputs/txt/83ddb037-d31b-4cb8-8857-1973a20dc35c.txt
outputs/txt/ab3d0d7e-6371-49c3-a698-4d66e387fcee.txt
outputs/txt/afbb9f5d-630b-4979-ad02-64446dbc4ccc.txt
outputs/txt/b6a5589a-e348-42c6-a366-e8201dc04002.txt
outputs/txt/d40fb70e-0828-4333-b549-8f4d6ea3155e.txt
outputs/txt/fdf2c1fe-d164-447e-863d-6cc0b50069d8.txt
transkrypcja_polskiego_audio.txt
outputs/txt/050eb657-23f4-4829-8ce7-4a67c5496468.txt
outputs/txt/051f0c45-4c41-4c48-b444-2389827a7c1c.txt
outputs/txt/07ab6e71-445c-43c2-97aa-9d55c814d5b9.txt
outputs/txt/27933a92-7867-431a-8823-058768814925.txt
outputs/txt/2bd5141d-628b-4c3f-a6ce-209877c50c5d.txt
outputs/txt/300fe3cf-5d17-4949-94e1-4fa1cc834adf.txt
outputs/txt/35d0674e-052d-4313-8563-e5599d0dfd18.txt
outputs/txt/4f26d16f-06f6-4080-93e6-ba0b70a5f7cf.txt
outputs/txt/96d92ebd-ba62-4a9f-b309-46e39ae811c7.txt
outputs/txt/acdc3fd9-ca4f-44bf-8612-0837cd090382.txt
outputs/txt/ce83e3ef-9f92-4a31-8d7a-1f1ccc84522e.txt
outputs/txt/f3f93b24-ba01-40bc-a973-0a42c5c53ac1.txt
outputs/txt/fd40ab1a-151b-46d3-a409-5f792df9a7b3.txt
outputs/txt/feb7a682-c07b-47e1-bffb-ee40d7bb284f.txt
/outputs
